@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Medium.eot);
    src: local("fonts/HelveticaNeueCyr-Medium"), url(fonts/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Medium.woff) format("woff"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Heavy.eot);
    src: local("fonts/HelveticaNeueCyr-Heavy"), url(fonts/HelveticaNeueCyr-Heavy.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Heavy.woff) format("woff"), url(fonts/HelveticaNeueCyr-Heavy.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-HeavyItalic.eot);
    src: local("fonts/HelveticaNeueCyr-HeavyItalic"), url(fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-HeavyItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-HeavyItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Black.eot);
    src: local("fonts/HelveticaNeueCyr-Black"), url(fonts/HelveticaNeueCyr-Black.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Black.woff) format("woff"), url(fonts/HelveticaNeueCyr-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-UltraLightItalic.eot);
    src: local("fonts/HelveticaNeueCyr-UltraLightItalic"), url(fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-UltraLightItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-UltraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-BlackItalic.eot);
    src: local("fonts/HelveticaNeueCyr-BlackItalic"), url(fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-BlackItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-ThinItalic.eot);
    src: local("fonts/HelveticaNeueCyr-ThinItalic"), url(fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-ThinItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-MediumItalic.eot);
    src: local("fonts/HelveticaNeueCyr-MediumItalic"), url(fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-MediumItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-LightItalic.eot);
    src: local("fonts/HelveticaNeueCyr-LightItalic"), url(fonts/HelveticaNeueCyr-LightItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-LightItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-UltraLight.eot);
    src: local("fonts/HelveticaNeueCyr-UltraLight"), url(fonts/HelveticaNeueCyr-UltraLight.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-UltraLight.woff) format("woff"), url(fonts/HelveticaNeueCyr-UltraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-BoldItalic.eot);
    src: local("fonts/HelveticaNeueCyr-BoldItalic"), url(fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-BoldItalic.woff) format("woff"), url(fonts/HelveticaNeueCyr-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Italic.eot);
    src: local("fonts/HelveticaNeueCyr-Italic"), url(fonts/HelveticaNeueCyr-Italic.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Italic.woff) format("woff"), url(fonts/HelveticaNeueCyr-Italic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Roman.eot);
    src: local("fonts/HelveticaNeueCyr-Roman"), url(fonts/HelveticaNeueCyr-Roman.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Roman.woff) format("woff"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Bold.eot);
    src: local("fonts/HelveticaNeueCyr-Bold"), url(fonts/HelveticaNeueCyr-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Bold.woff) format("woff"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Light.eot);
    src: local("fonts/HelveticaNeueCyr-Light"), url(fonts/HelveticaNeueCyr-Light.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Light.woff) format("woff"), url(fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr-Thin.eot);
    src: local("fonts/HelveticaNeueCyr-Thin"), url(fonts/HelveticaNeueCyr-Thin.eot?#iefix) format("embedded-opentype"), url(fonts/HelveticaNeueCyr-Thin.woff) format("woff"), url(fonts/HelveticaNeueCyr-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local("Helvetica Neue Light Italic"), local(HelveticaNeue-LightItalic), local("Helvetica Light Oblique"), local(Helvetica-LightOblique);
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Helvetica Neue Italic"), local(HelveticaNeue-Italic), local("Helvetica Oblique"), local(Helvetica-Oblique);
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Helvetica Neue Bold Italic"), local(HelveticaNeue-BoldItalic), local("Helvetica Bold Oblique"), local(Helvetica-BoldOblique);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local("Helvetica Neue Light"), local(HelveticaNeue-Light), local("Helvetica Light"), local(Helvetica-Light);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(HelveticaNeue), local(Helvetica);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue Bold"), local(HelveticaNeue-Bold), local("Helvetica Bold"), local(Helvetica-Bold);
}
@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 400;
    src: local("Menlo Italic"), local(Menlo-Italic), local("Consolas Italic"), local(Consolas-Italic), local("Courier New Italic");
}
@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    src: local("Menlo Bold Italic"), local(Menlo-BoldItalic), local(Monaco), local("Consolas Bold Italic"), local(Consolas-BoldItalic), local("Courier New Bold Italic");
}
@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    src: local("Menlo Regular"), local(Menlo-Regular), local(Monaco), local(Consolas), local("Courier New");
}
@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    src: local("Menlo Bold"), local(Menlo-Bold), local(Monaco), local("Consolas Bold"), local(Consolas-Bold), local("Courier New Bold");
}