@import url("fonts.css");
.scroll-wrapper {
    overflow: hidden!important;
    padding: 0!important;
    position: relative;
}
.scroll-wrapper>.scroll-content {
    border: none!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none!important;
    overflow: scroll!important;
    padding: 0;
    position: relative!important;
    top: 0;
    width: auto!important;
}
.scroll-wrapper>.scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scroll-element {
    display: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.scroll-element div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
.scroll-element .scroll-arrow, .scroll-element .scroll-bar {
    cursor: default;
}
.scroll-textarea {
    border: 1px solid #ccc;
    border-top-color: #999;
}
.scroll-textarea>.scroll-content {
    overflow: hidden!important;
}
.scroll-textarea>.scroll-content>textarea {
    border: none!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%!important;
    margin: 0;
    max-height: none!important;
    max-width: none!important;
    overflow: scroll!important;
    outline: 0;
    padding: 2px;
    position: relative!important;
    top: 0;
    width: 100%!important;
}
.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scrollbar-inner>.scroll-element {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.scrollbar-inner>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%}
.scrollbar-inner>.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%}
.scrollbar-inner>.scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}
.scrollbar-inner>.scroll-element .scroll-element_outer {
    overflow: hidden;
    border-radius: 0;
}
.scrollbar-inner>.scroll-element .scroll-bar, .scrollbar-inner>.scroll-element .scroll-element_track {
    border-radius: 0;
}
.scrollbar-inner>.scroll-element .scroll-bar, .scrollbar-inner>.scroll-element .scroll-element_track {
    opacity: 1;
}
.scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #e0e0e0;
}
.scrollbar-inner>.scroll-element .scroll-bar {
    background-color: #fd52b2;
}
.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar, .scrollbar-inner>.scroll-element:hover .scroll-bar {
    background-color: #919191;
}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}
#menu-toggle {
    width: 40px;
    height: 36px;
    margin: 0;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
#menu-toggle:hover {
    background: rgba(255, 255, 255, .8);
}
#menu-toggle * {
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#menu-toggle span {
    display: block;
    background: #fd52b2;
    border-radius: 2px;
}
#menu-toggle #hamburger {
    position: absolute;
    height: 100%;
    width: 100%}
#menu-toggle #hamburger span {
    width: 100%;
    height: 4px;
    position: relative;
    top: 0;
    left: 50%;
    margin: 8px 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#menu-toggle #hamburger span:nth-child(1) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
    -webkit-transition-delay: .75s;
    -o-transition-delay: .75s;
    transition-delay: .75s;
}
#menu-toggle #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg) translate(5%, 3%);
    -ms-transform: rotate(45deg) translate(5%, 3%);
    transform: rotate(45deg) translate(5%, 3%);
}
#menu-toggle #cross span:nth-child(1) {
    height: 0%;
    width: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#menu-toggle #cross span:nth-child(2) {
    width: 0%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#menu-toggle.open #hamburger span {
    width: 0%}
#menu-toggle.open #hamburger span:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
    -webkit-transition-delay: .125s;
    -o-transition-delay: .125s;
    transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
    height: 80%;
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
    width: 80%;
    -webkit-transition-delay: .375s;
    -o-transition-delay: .375s;
    transition-delay: .375s;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0;
}
article, aside, footer, header, nav, section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
figcaption, figure, main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: inherit;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -.25em;
}
sup {
    top: -.5em;
}
audio, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
    vertical-align: top;
}
svg:not(:root) {
    overflow: hidden;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: .35em .75em .625em;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details, menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
:after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    font-size: 16px;
}
body, html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    -ms-overflow-style: scrollbar;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
textarea {
    resize: none;
}
a, a:active, a:focus, button, button:active, button:focus, button:hover, input, input:active, input:focus, textarea {
    text-decoration: none;
    outline: 0;
}
body {
    font-size: 1rem;
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-style: normal;
    position: relative;
    width: 100%;
    height: 100%}
h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}
h3 {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.38889em;
}
li, p {
    font-size: 1.125rem;
    line-height: 1.88889em;
    font-weight: 300;
}
a[href^=tel] {
    white-space: nowrap;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.large-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    width: 337px;
    height: 64px;
    border-radius: 32px;
    background-color: #fd52b2;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.mnu-btn {
    display: none;
}
.header {
    /*padding-top: 35px;*/
    /*padding-bottom: 15px;*/
    padding-left: 4.6875vw;
    padding-right: 4.6875vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header .contact-phone {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 1.5rem;
}
.with-menu {
    background-color: rgba(0, 0, 0, .7);
}
.main-menu-wrap{
    display: flex;
}
.main-menu li:hover a{
    color: #fd52b2;
}
.fixed-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .7);
}
.fixed-header .logo{
    margin-top: 0;
}




/*.fixed-header .logo h1 {*/
/*    font-size: 1.625rem;*/
/*}*/
/*.fixed-header .logo h1 span {*/
/*    font-size: 12px;*/
/*}*/



.fixed-header .main-menu a {
    font-size: 12px;
}
.fixed-header .contact-phone {
    font-size: 1.25rem;
}
.header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logo {
    width: 100px;
    margin-top: 10px;
}

.header-contacts{
    margin: auto 0;
}

/*.logo h1 {*/
/*    color: #fff;*/
/*    font-weight: 300;*/
/*    font-size: 1.875rem;*/
/*    letter-spacing: 4.77px;*/
/*    margin: 0;*/
/*    white-space: nowrap;*/
/*    -webkit-transition: .3s;*/
/*    -o-transition: .3s;*/
/*    transition: .3s;*/
/*}*/
/*.logo h1 span {*/
/*    -webkit-transition: .3s;*/
/*    -o-transition: .3s;*/
/*    transition: .3s;*/
/*    font-size: 14px;*/
/*    display: block;*/
/*    letter-spacing: normal;*/
/*    line-height: 28px;*/
/*    white-space: nowrap;*/
/*}*/






.socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.socials-item {
    margin-left: 25px;
    width: 26px;
    height: 26px;
    background-position: center center;
    background-repeat: no-repeat;
}
.socials-fb {
    background-image: url(../images/facebook.svg);
}
.socials-in {
    background-image: url(../images/insta.svg);
}
.socials-vk {
    background-image: url(../images/vk.svg);
}
.contact-phone {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    /*margin-bottom: 20px;*/
    display: block;
}
.contact-phone::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -25px;
    top: 6px;
    background-image: url(../images/ic_phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}
.main-menu li {
    margin: 0 30px;
}
.main-menu li a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
.main-section {
    height: 100vh;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
}
.main-section-inner {
    padding-left: 4.6875vw;
    padding-right: 4.6875vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/*.main-banner {*/
/*    color: #fff;*/
/*}*/
/*.main-banner h2 {*/
/*    font-size: 5.1875rem;*/
/*    font-weight: 400;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.main-banner h4 {*/
/*    color: #fd52b2;*/
/*    font-size: 1.875rem;*/
/*    font-weight: 500;*/
/*    letter-spacing: 9.48px;*/
/*    margin-bottom: 30px;*/
/*}*/
/*.main-banner p {*/
/*    font-size: 1.5rem;*/
/*    font-weight: 300;*/
/*    line-height: 1.41667em;*/
/*    max-width: 700px;*/
/*}*/
.main-banner-text {
    margin-bottom: 40px;
}
.about-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 610px;
}
.about-item:nth-child(even) .about-item-right {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: #fff;
}
/*.about-item:nth-child(1) .about-item-right {*/
/*    !*background: url(../images/a1.png) no-repeat -20% center, #11141b url(../images/a12.png) no-repeat 10% center;*!*/
/*}*/
/*.about-item:nth-child(2) .about-item-right {*/
/*    !*background: url(../images/a2.png) no-repeat 40% 40%, url(../images/a22.png) no-repeat 10% center, #fff url(../images/a23.png) no-repeat 0 center;*!*/
/*}*/
/*.about-item:nth-child(3) .about-item-right {*/
/*    !*background: url(../images/a3.png) no-repeat -5% 20%, url(../images/a12.png) no-repeat 10% center, #11141b url(../images/a32.png) no-repeat 4% center;*!*/
/*}*/
.about-item-left {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%
}
.about-item-right {
    width: 50%;
    background-color: #11141b;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.about-item-content {
    width: 60%
}
.video-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 80px;
    color: #fff;
    background-color: #0c0f16;
}
.section-head {
    margin-bottom: 30px;
}
/*.section-head h4 {*/
/*    font-size: 18px;*/
/*    font-weight: 500;*/
/*    letter-spacing: 16.92px;*/
/*    color: #fd52b2;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 20px;*/
/*}*/
.video-outer {
    padding: 0 170px 80px;
    position: relative;
    background: url(../images/flowers.png) no-repeat left bottom/35%, url(../images/flowers.png) no-repeat right bottom/35%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    margin-top: -130px;
}
.video-inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: transparent url(../images/marina.png) no-repeat 50% 50%/cover;
}
.video-inner video {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0 12px 39px rgba(10, 20, 43, .37);
    box-shadow: 0 12px 39px rgba(10, 20, 43, .37);
}
.portfolio-section {
    padding-top: 170px;
}
.portfolio-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #0c0f16;
}
.portfolio-left {
    width: 50%}
.portfolio-left .portfolio-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.portfolio-left .portfolio-row .portfolio-item {
    width: 50%}
.portfolio-right {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.portfolio-right .portfolio-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%}
.portfolio-item {
    background-color: #0c0f16;
    overflow: hidden;
}
.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.portfolio-item img {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.review-section {
    padding-top: 90px;
    padding-bottom: 140px;
    background-color: #0c0f16;
}
.review-section .section-head {
    text-align: left;
    color: #fff;
}
.review-section .section-head p {
    margin: 0;
}
#review-section a:hover,
#review-section a > *:hover,
#review-section a span > *:hover{
    color: #fd52b2!important;
}
.review-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.review-item {
    width: calc((100% - 60px)/ 2);
    margin: 0 15px 30px;
    padding: 40px 30px;
    background-color: #11141b;
}
.review-item p, .review-item span, .review-item h1, .review-item h2, .review-item h3, .review-item h4, .review-item h5, .review-item div {
    line-height: 1.5em;
}
.review-item-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
.review-item-desc h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}
.review-item-desc p {
    font-size: 1rem;
    font-weight: 400;
    color: #bebebe;
}
.review-item-img {
    border: 2px solid #fd52b2;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    overflow: hidden;
    margin-right: 30px;
}
.review-slider-wrap {
    margin-top: 40px;
}
.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 8.33333vw;
    padding-bottom: 7.8125vw;
}
.footer .contact-phone {
    display: inline-block;
    margin-bottom: 25px;
    padding-left: 30px;
}
.footer .contact-phone::before {
    left: 0;
}
.footer-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.footer-content {
    width: 50%;
    color: #fff;
}
.footer-content .btn {
    margin-top: 70px;
}
.socials-footer {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.socials-footer .socials-item {
    margin-left: 0;
    margin-right: 25px;
}
.socials-footer .socials-fb {
    background-image: url(../images/facebookf.svg);
}
.socials-footer .socials-in {
    background-image: url(../images/instaf.svg);
}
.socials-footer .socials-yb {
    background-image: url(../images/youtube.svg);
}
.mail {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    padding-left: 30px;
}
.mail::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 7px;
    background-image: url(../images/mail.svg);
}
.modal {
    width: 806px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 5px;
    background-color: #11141b;
    padding: 0;
}
.modal-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
}
.modal-bg {
    width: 321px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: inherit;
}
.modal-content {
    width: calc(100% - 321px);
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.modal-content h3 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.27778em;
    margin-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}
.modal-content h3::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 84px;
    height: 2px;
    background-color: #fd52b2;
}
.modal-content label {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}
.m-input {
    height: 42px;
    background-color: #262b37;
    width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #71798d;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}
.m-submit {
    width: 100%;
    height: 46px;
    border-radius: 23px;
    background-color: #fd52b2;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}
.portfolio-section .container .section-head  {
    margin-bottom:  90px;
}
.scroll-wrapper {
    overflow: hidden!important;
    padding: 0!important;
    position: relative;
}
.scroll-wrapper>.scroll-content {
    border: none!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none!important;
    overflow: scroll!important;
    padding: 0;
    position: relative!important;
    top: 0;
    width: auto!important;
}
.scroll-wrapper>.scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scroll-element {
    display: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.scroll-element div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
.scroll-element .scroll-arrow, .scroll-element .scroll-bar {
    cursor: default;
}
.scroll-textarea {
    border: 1px solid #ccc;
    border-top-color: #999;
}
.scroll-textarea>.scroll-content {
    overflow: hidden!important;
}
.scroll-textarea>.scroll-content>textarea {
    border: none!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%!important;
    margin: 0;
    max-height: none!important;
    max-width: none!important;
    overflow: scroll!important;
    outline: 0;
    padding: 2px;
    position: relative!important;
    top: 0;
    width: 100%!important;
}
.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scrollbar-inner>.scroll-element {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.scrollbar-inner>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%}
.scrollbar-inner>.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%}
.scrollbar-inner>.scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}
.scrollbar-inner>.scroll-element .scroll-element_outer {
    overflow: hidden;
    border-radius: 0;
}
.scrollbar-inner>.scroll-element .scroll-bar, .scrollbar-inner>.scroll-element .scroll-element_track {
    border-radius: 0;
}
.scrollbar-inner>.scroll-element .scroll-bar, .scrollbar-inner>.scroll-element .scroll-element_track {
    opacity: 1;
}
.scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #e0e0e0;
}
.scrollbar-inner>.scroll-element .scroll-bar {
    background-color: #fd52b2;
}
.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar, .scrollbar-inner>.scroll-element:hover .scroll-bar {
    background-color: #919191;
}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}
#menu-toggle {
    width: 40px;
    height: 36px;
    margin: 0;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
#menu-toggle:hover {
    background: rgba(255, 255, 255, .8);
}
#menu-toggle * {
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#menu-toggle span {
    display: block;
    background: #fd52b2;
    border-radius: 2px;
}
#menu-toggle #hamburger {
    position: absolute;
    height: 100%;
    width: 100%}
#menu-toggle #hamburger span {
    width: 100%;
    height: 4px;
    position: relative;
    top: 0;
    left: 50%;
    margin: 8px 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#menu-toggle #hamburger span:nth-child(1) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
    -webkit-transition-delay: .75s;
    -o-transition-delay: .75s;
    transition-delay: .75s;
}
#menu-toggle #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg) translate(5%, 3%);
    -ms-transform: rotate(45deg) translate(5%, 3%);
    transform: rotate(45deg) translate(5%, 3%);
}
#menu-toggle #cross span:nth-child(1) {
    height: 0%;
    width: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#menu-toggle #cross span:nth-child(2) {
    width: 0%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#menu-toggle.open #hamburger span {
    width: 0%}
#menu-toggle.open #hamburger span:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
    -webkit-transition-delay: .125s;
    -o-transition-delay: .125s;
    transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
    height: 80%;
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
    width: 80%;
    -webkit-transition-delay: .375s;
    -o-transition-delay: .375s;
    transition-delay: .375s;
}
@media screen and (max-width:1366px) {
    html {
        font-size: 15px;
    }
    .btn {
        width: 280px;
        height: 56px;
    }
    .header .socials-item {
        background-size: contain;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .fixed-header .socials-item {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
    .about-item:nth-child(1) .about-item-right {
        background: url(../images/a1.png) no-repeat 60% center/90%, #11141b url(../images/a12.png) no-repeat 10% center;
    }
    .about-item:nth-child(2) .about-item-right {
        background: url(../images/a2.png) no-repeat 40% 40%, url(../images/a22.png) no-repeat 10% center, #fff url(../images/a23.png) no-repeat 0 center;
    }
    .about-item:nth-child(3) .about-item-right {
        background: url(../images/a3.png) no-repeat -5% 20%, url(../images/a12.png) no-repeat 10% center, #11141b;
    }
    .contact-phone::before {
        top: 2px;
        width: 16px;
        height: 16px;
    }
}
@media screen and (max-width:1200px) {
    html {
        font-size: 14px;
    }
    .btn {
        width: 260px;
        height: 46px;
    }
}
@media screen and (max-width:1024px) {
    html {
        font-size: 13px;
    }
    .main-menu-wrap {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        padding-bottom: 20px;
    }
    .main-menu-wrap .main-menu {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .main-section {
        height: auto;
        padding-top: 25vh;
    }
    .mnu-btn {
        display: block;
        cursor: pointer;
        margin-top: 15px;
    }
    .mnu-btn span {
        display: block;
        height: 2px;
        width: 40px;
        margin-bottom: 8px;
        background-color: #fd52b2;
    }
    .main-banner h2 {
        font-size: 4.5625rem;
    }
    .main-banner p {
        max-width: 60%}
    .about-item {
        height: 480px;
    }
    .header {
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, .7);
    }
    .header .socials-item {
        background-size: contain;
        width: 20px;
        height: 20px;
    }
    .header .logo{
        display: none;
    }
    .header .main-menu a {
        font-size: 12px;
    }
    .header .contact-phone {
        font-size: 1.25rem;
    }
    .about-item {
        height: 100%;
    }
    .main-banner{
        margin-bottom: 50px;
    }
    .about-item-right{
        padding: 30px 0;
    }
    .mail::before{
        top: 4px;
    }
}
@media screen and (max-width:991px) {
    html {
        font-size: 12px;
    }
    .main-banner h2 {
        font-size: 3.9375rem;
    }
    .header {
        padding-top: 15px;
    }
    .video-outer {
        padding: 0 80px 80px;
    }
}
@media screen and (max-width:768px) {
    .portfolio-left {
        width: 100%}
    .portfolio-right {
        width: 100%}
}
@media screen and (max-width:767px) {
    .main-section {
        background: #0c0f16;
    }
    .main-section .btn {
        margin-left: auto;
        margin-right: auto;
    }
    .main-banner-text {
        text-align: center;
    }
    .main-banner-text p {
        max-width: 100%}
    .footer {
        /*background: #11141b!important;*/
    }
    .review-section {
        padding-bottom: 90px;
    }
    .footer-content {
        width: 100%;
        text-align: center;
    }
    .footer-content .btn {
        margin-left: auto;
        margin-right: auto;
    }
    .socials-footer {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .modal-bg {
        display: none;
    }
    .modal-content {
        width: 100%;
        padding-left: 60px;
    }
    .modal-content h3 {
        text-align: center;
    }
    .modal-content h3::after {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
@media screen and (max-width:640px) {
    .main-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .about-item-left {
        width: 100%;
        height: 400px;
    }
    .about-item-right {
        width: 100%;
        height: 400px;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about-item, .about-item-right {
        height: auto;
    }
    .about-item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: auto;

    }
    .video-outer {
        background: 0 0;
        padding: 30px 15px;
    }
    .section-head p {
        width: 100%}
    .review-section {
        padding-top: 40px;
    }
    .review-section .section-head {
        text-align: center;
    }
    .review-section .section-head p {
        width: 100%}
    .review-item {
        width: 100%}
    .video-section {
        padding-top: 40px;
    }
    .main-section {
        height: auto;
        padding-top: 20vh;
    }
}
@media screen and (max-width:475px) {
    .modal-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-content h3 {
        font-size: 24px;
    }
    .footer{
        background-position: center right;
    }
    .about-item-content{
        width: 95%;
    }
}